@page "/test"
@using Via.Dk
@inject HttpClient Http

<PageTitle>Test</PageTitle>

<h1 class="font-bold text-3xl">Test a request</h1>
<div class="flex-col justify-start items-start">
    <div>
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
        <input type="text" @bind="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="John" required />
    </div>
    <div>
        <label for="description" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
        <input type="password" @bind="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="John" required />
    </div>
    <div class="py-2">
        <button @onclick="FetchData" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Submit
        </button>
    </div>
</div>
@if (response != null)
{
    <p>
        Response: @response.;
    </p>
}

@code {
    private string? email { get; set; }
    private string? password { get; set; }
    private string? response { get; set; }

    private async Task FetchData()
    {
        CreateRegistrationRequest request = new CreateRegistrationRequest
        {
            Email = email,
            Password = password,
            IsAdmin = false
        };
        var temp = await Http.PostAsJsonAsync("api/registration", request);
        response = await temp.Content.ReadAsStringAsync();
    }
}