@page "/test"
@using Via.Dk
@using BlazorApp1.Components
@inject HttpClient Http

<PageTitle>Test</PageTitle>

<div class="max-w-screen-xl mx-auto">
    <h1 class="font-bold text-3xl">Test a request</h1>
    <div class="flex-col max-w-screen-xl justify-start items-start">
        <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
            <input type="text" @bind="email" id="email"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5"
                   placeholder="John" required/>
        </div>
        <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
            <input type="password" @bind="password" id="password"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5"
                   placeholder="John" required/>
        </div>
        <div class="py-2">
            <button @onclick="FetchData"
                    class="bg-indigo-600 font-normal text-sm hover:bg-indigo-700 text-white py-2 px-4 rounded">
                Submit
            </button>
        </div>
    </div>
    <div class="flex gap-4">
        <RecipeCard
            ImageUrl="assets/spaghetti-bolog.jpg"
            Title="Spaghetti bolognese"
            Description="Often we eat the vegetables while the meat sauce simmers in the pan. Then I peel a large bowl of carrots and cut bell pepper, broccoli florets, cucumbers and tomato - so it becomes a snack, so that the vegetable depot is already well filled when dinner is served. If you want, you can also cleverly sneak a grated carrot or squash into this meat sauce, no one will notice anyway."
            Types="types"
            Ingredients="ingredients"
            Editable="true"
        />
        <RecipeCard
            ImageUrl="assets/spaghetti-bolog.jpg"
            Title="Spaghetti bolognese"
            Description="Often we eat the vegetables while the meat sauce simmers in the pan. Then I peel a large bowl of carrots and cut bell pepper, broccoli florets, cucumbers and tomato - so it becomes a snack, so that the vegetable depot is already well filled when dinner is served. If you want, you can also cleverly sneak a grated carrot or squash into this meat sauce, no one will notice anyway."
            Types="types"
            Ingredients="ingredients"
        />
    </div>
    @if (response != null)
    {
        <p>
            Response: @response.;
        </p>
    }
</div>

@code {
    List<string> types =  new List<string> {"Vegetarian", "Vegan", "Pescetarian", "Meateatrian"};
    List<string> ingredients =  new List<string> {"Pasta", "Minced Meat", "Parmezan"};
    private string? email { get; set; }
    private string? password { get; set; }
    private string? response { get; set; }

    private async Task FetchData()
    {
        CreateRegistrationRequest request = new CreateRegistrationRequest
        {
            Email = email,
            Password = password,
            IsAdmin = false
        };
        var temp = await Http.PostAsJsonAsync("api/registration", request);
        response = await temp.Content.ReadAsStringAsync();
    }

}